@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	transition: background-color 0.5s ease;
}

#mainCard {
	transition: 15s ease-in-out;
}

.textShadow {
	text-shadow: 1px 0.5px 2px #ffffff;
}
