@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

#root {
	height: 100vh;
	display: grid;
	place-content: center;
	text-align: center;
}

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}

body {
	transition: background-color 0.5s ease;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

button,
input,
select,
textarea {
	font: inherit;
}
